@media screen and (max-width: 576px) {
    nav {
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-container {
        padding: 0px;
    }

    .school {
        display: none;
    }

    .lists {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .menu-option {
        display: block;
    }

    .banner-section {
        padding: 20px 10px;

    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-left {
        text-align: center;
        width: 100%;
    }

    #curriculum-section {
        border: none;
        padding: 0px 10px;
        height: max-content;
    }

    .curriculum-container {
        padding: 20px;
    }

    .curriculum-cards {
        flex-direction: column;
        margin-top: 20px;
    }

    .page-direction {
        display: none;
    }

    /* Story section responsive */
    #story-section {
        padding-top: 30px;
    }

    .story-container {
        padding: 0px 10px;
    }

    .story {
        flex-direction: column;
    }

    .story div img {
        width: 100%;
    }

    .date-2 {
        margin-left: 20px;
        margin-top: -25px;
    }
}