@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
}

nav {
    margin: 0px 140px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

li {
    list-style: none;

}


li a {
    text-decoration: none;
}

.contact-btn {
    width: 197px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    color: white;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-left {
    width: 640px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
}

/* Curriculam section design */
#curriculam-section{
    background-image: url("../assets/bg.png");
}