@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
}

nav {
    margin: 0px 140px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

li {
    list-style: none;

}


li a {
    text-decoration: none;
}

.contact-btn {
    width: 197px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    color: white;
}

.contact-btn-1 {
    width: 197px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    color: white;
}

.menu-option {
    display: none;
    font-size: 2rem;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-left {
    width: 640px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
}

/* Curriculam section design */
#curriculum-section {
    background-image: url("../assets/bg.png");
    height: 880px;
    border-top: 2px dashed gray;
    border-bottom: 2px dashed gray;
}

.curriculum-container {
    padding-top: 60px;
}

.curriculum-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.curriculum-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.card {
    text-align: center;
    padding: 50px 40px;
    max-width: 368px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    border-radius: 18px;
    /* border: 2px solid red; */
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 44px;
}

.card-des {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 33px;
}

.read-more {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 38px;
}

.more {
    text-decoration: none;
}

.page-direction {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
}

.left-arrow {
    background-color: #FEA301;
    padding: 30px;
    border-radius: 999px;
}

.right-arrow {
    background-color: #FEA301;
    padding: 30px;
    border-radius: 999px;
}

/* Story section design */
#story-section {
    background-image: url("../assets/bg.png");
}

.story-1 {
    max-width: 540px;
    border: 2px solid red;
    border-radius: 16px;
}

.story-2 {
    max-width: 291px;
}